{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h1 style="color: #ff5733;">🔐 Login</h1>
        <form method="POST" id="login-form" style="margin: 30px auto; width: 60%; border: 2px solid #ff5733; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="form-group">
                <label for="username" style="font-size: 1.2em; color: #2c3e50;">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Enter Username"
                  required
                />
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <label for="password" style="font-size: 1.2em; color: #2c3e50;">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
                  required
                />
            </div>
            <br />
            <button type="submit" class="btn btn-primary" style="padding: 10px 20px; color: #fff; background-color: #ff5733; border: none; border-radius: 5px;">Login</button>
        </form>
    </div>
{% endblock %}
